$scale:1;

.vectDance{
    z-index: 2;
    position:relative;
    left: calc(190px + 100px*($scale - 1));
    scale: $scale;
  }
.vectDance1{
    z-index: 2;
    position:relative;
    top:calc(-30px -  20px*$scale);
    left: calc(200px + 200px*($scale - 1));
    scale: $scale;

  }
.vectDance2{
    z-index: 2;
    position:relative;
    scale: $scale;
  }