.container {
  .tagLine {
    z-index: -1;
    position: fixed;
    top: 45%;
    left: 50%;
    width: 50%;
    height: 35%;
    transform: translate(-50%, -50%);
    animation: PopUp 2s 1s forwards ease-in-out;
    animation: name duration timing-function delay iteration-count direction
      fill-mode;
  }
  .heading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 0.3rem;
    color: #fff;

    text-shadow: 0 0 7px #08d1f5, 0 0 10px #08d1f5, 0 0 21px #08d1f5,
      0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa,
      0 0 151px #0fa;
  }
  .scrollDown {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
    font-family: "Roboto mono", monospace;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.3rem;
    animation: scrollDown 1.5s ease-out 2s infinite forwards;
  }
}

@keyframes scrollDown {
  0% {
    top: 85%;
  }
  100% {
    top: 95%;
  }
}
@keyframes PopUp {
  from {
    width: 0%;
    height: 0%;
  }
  to {
    width: 50%;
    height: 35%;
  }
}

.container {
  .tagLine {
    width: 75%;
    height: auto;
  }
}

.headingWelcome {
  z-index: 10;
}
.marketingBrochure {
  z-index: 0;
  background: #08d1f5;
  position: absolute;
  top: 75%;
  text-align: center;
  padding: 2vh 1vh;
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-shadow: #000 1px 0 5px;
  text-decoration: none;
  border-radius: 1000px;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1200px) {
  .marketingBrochure {
    font-size: 12px;
  }
}
