$bg-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.3) 0%,
  rgba(0,0,0,.6) 80%,
  rgba(0, 0, 0, 0.9) 100%
);

.main{

        .top{
            position: fixed;
            background: $bg-gradient;
            width: 100%;
            height: 28vh;
            top:0;
            left:0;
            z-index: 1;
        }
        .img{
            position: fixed;
            top:0;
            left:0;
            width: 100%;
            height: 28vh;
            z-index: 0;
        }
        .contactNav{
            position: fixed;
            width:100%;
            top: 20%;
            z-index: 2;
            ul{
                display: flex;
                justify-content: space-around;
                li{
                    text-align: center;
                    width: 200px;
                    color:azure;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 700;
                    font-size: 1.2rem;
                    cursor: pointer;
                }
            }
        }
        .faculty, .OC, .SC{
            position:absolute;
            top:30%;
            display: flex;
            width: 100%;
            justify-content: center;
            flex-wrap:wrap ;
            z-index: -1;
            &>:nth-child(n){
                width: 50%;
                margin: 1rem 0;
            }
            &>:nth-child(1){
                width: 100%;
            }
            
        }

}

@media screen and (max-width: 700px){
    .main{
        .img{
            position:fixed;
            width: 150%;
            top:0;
            left:-25%;
            height: 28vh;
            z-index: 0;
        }
        .contactNav{
            ul{
                li{
                    font-size: clamp(1rem,3vw,1.2rem);
                }
            }
        }
    }
}