.main{
  // height:100vh;
  background-color: black;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    display: none;
  }
  
}
  .bgImg{
    height: 100vh;
    width:100vw;
    z-index:-1;
    position:fixed;
    top:0;
    left:0;
  }