
$bg-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.8) 0%,
  rgba(0, 0, 0, .9) 100%,
);
.main{
    width: 100%;
    height: 100vh;
    text-align: center;
    .bgimg{
        position:fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100vh;
    }
    .top{
        position:fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100vh;
        z-index: 2;
        background: $bg-gradient;
    }
    .content{
        width:100%;
        position:absolute;
        top:30%;
        z-index: 3;

        .heading{
            color:azure;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 5rem;
            margin-bottom: 1.5rem;
        }
        .form{
            background-color: #2C4938;
            border-radius: 1rem;
            padding: .5rem 1.3rem;
            color: azure;
            font-size: 2rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            text-decoration: none;
        }
    }

}
@media screen and (max-width:700px) {
    .main{
        .content{

            .heading{
                font-size: clamp(1.5rem,10vw ,5rem);
                
            }
            .form{
                font-size: clamp(1rem, 5vw, 2rem);
            }
            
        }
    }
}