$bg-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.9) 0%,
  rgba(0,0,0,.4)  50%,
  rgba(0, 0, 0, 0.1) 100%
);
.container{
    width: 100%;

    position: absolute;
    top:0px;
    z-index: 4;
    .move{
        margin-top: 70px;
        position: relative;
        left: 100vw;
        display: flex;
        animation: example 10s linear 0s infinite forwards;
        :nth-child(n){
            margin: 1rem;
        }
    }
}

@keyframes example{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}
.white{
    background-color: rgba($color: #ffffff, $alpha: .9);
    border-radius: 50%;
    padding: .25rem;
}