
.container{
    width: 100%;

    position: absolute;
    top:70px;
    z-index: 4;
    .move{
        position: relative;
        left: 100vw;
        display: flex;
        animation: example 10s linear 0s infinite forwards;

    }
}

@keyframes example{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}