.container{
    background-color: #a02a91;
    padding: .5rem;
    display: flex;  
    width: fit-content;
    flex-direction: column;
    margin: 1rem;
    align-items: center;

    p{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        padding: .5rem .5rem 0 .5rem !important;
        font-size: 1rem;
        margin: 0px;

    }

}